# Litellm
LITELLM_API_KEY="sua-chave-litellm"
LITELLM_PORT=7000
LITELLM_MASTER_KEY="sk-1234"
DATABASE_URL="postgresql://llmproxy:dbpassword9090@host.docker.internal:5432/litellm"
STORE_MODEL_IN_DB="True"

# Openweb ui
WEBUI_SECRET_KEY=sua-chave-secreta
PORT=8080
OPENWEBUI_DB_NAME=openwebui
DATABASE_URL_OPENWEBUI="postgresql://llmproxy:dbpassword9090@host.docker.internal:5432/openwebui"

# Postgres
# Credenciais do Superusuário (Postgres)
POSTGRES_USER=llmproxy
POSTGRES_PASSWORD=dbpassword9090
POSTGRES_DB=litellm